@if (user && user.token !== undefined) {
    <h2>Hello {{ user.firstName }} {{ user.lastName }}, you are a @if (user.isLessor) {
        lessor
    } @else {
        tenant
    }</h2>
} @else {
    <h2 mat-card-title>Hello Guess</h2>
}
<section class="filters">
    <form>
        <input type="text" placeholder="Filter by city" #filter (keyup)="filterResults(filter.value)">
    </form>
</section>

@if (estatesFiltered.length !== 0) {
    <section class="results">
        <app-estate *ngFor="let estate of estatesFiltered" [estate]="estate"/>
    </section>
}@else{
    <h3>No estates found, try to add one !</h3>
}
