<h2 mat-dialog-title>Welcome on HairBnb</h2>
<mat-dialog-content>
    <p>Sign in</p>
    <menu>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="data.email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="data.password">
        </mat-form-field>
    </menu>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.email">Validate</button>
</mat-dialog-actions>