<main>
    <a [routerLink]="['/']">
        <header class="brand-name">
            <div class="brand-logo">
                <img class="brand-logo-picture" src="/assets/house_searching.svg" alt="logo" aria-hidden="true">
                <h1 class="brand-logo-title">HairBnb</h1>
            </div>
            <div class="connexion">
                <button mat-flat-button>Basic</button>
                <button mat-flat-button color="primary">Primary</button>
                <button mat-flat-button color="accent">Accent</button>
                <button mat-flat-button color="warn">Warn</button>
                <button mat-flat-button disabled>Disabled</button>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
        </header>
    </a>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</main>